#main-content{
  font-size: 18px;
}

/*GEOLOCALIZACIÓN*/
#mapa {
 
        width: 620px;
        height: 400px;
 
      }



.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/*MENU VERTICAL*/

/* separación huellitas */
hr { 
     background: url(images/huellas.png) repeat right; 
     border: none; 
     height:100%;
     width: 35px;

    position: absolute;
    left: 230px;
    bottom: 235px;
 } 

 h4{
  margin-top: 0px;
  margin-bottom: 0px;
 }

 /* márgenes */
div.well{
padding-bottom: 0px;
padding-top: 0px;
margin-bottom: 0px;
}

a .dropdown-toggle{
    margin-top: 0px;
    padding-bottom: 0px;
}

/*imagen círculo*/
.imagen .img-circle{
  height: 150px; 
  width: 150px; 
  text-align: center;
}


.navbar-fixed-left {
  width: 255px;
  position: fixed;
  border-radius: 0;
  height: 300%;
  border-right: transparent;
  border-top: transparent;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  
  font-size: 20px;

}

.navbar-fixed-left + .container {
  padding-left: 200px;

}

/* dropdown*/
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-left: 140px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu a:hover,
.navbar-fixed-left .navbar-nav > li > .dropdown-menu a:focus {
  text-decoration: none;
  background-color: #309971;
}


    /*div completo*/
.navbar.navbar-inverse.navbar-fixed-left {
  top: 51px;
  /*background-color: #445061;*/
  background-color: white;
}

    /*nombre mascota*/
.navbar-brand
{
  text-align: center;
  font-size: 38px;
  font-family: 'Shadows Into Light', cursive;

}

      /*colores del nombre*/
.navbar-inverse .navbar-brand{
  color: black;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
  color: #732F4F;
 }

    /*texto*/
.navbar-inverse .navbar-nav>li>a{
  color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color:#732F4F;
  }

    /*div foto*/
.well{
  border: transparent;
  background-color: transparent;
}


/* CUERPO */

    /*Publicación*/

.panel-body{
    border: 2px solid #2D3E50;
}

  /*button camara y video*/
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload { btn btn-default boton
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

    /*img file */

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

      /*div imagen*/
.col-sm-4 .imgComent{
  color: black;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
}

    /*Publicaciones amigos*/
#main-nav li,
#main-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline;
  margin: 0;
  padding: 0 10px;
}

#main-content {
  padding: 0 20px;
  max-width: 1800px;
  margin-top: 20px; 
  margin-left: 290px; 
  margin-bottom: 50px;
}

  /* texto del comentario*/
/*p { 
  margin-bottom: 15px; 
  margin-left: 60px;}*/

.imagenComentarios{
  margin-left: 58px;
}

/*LISTA DE MASCOTAS (mascotas.php)*/


.list-thumbs{}
.list-thumbs > li{
    margin-bottom:12px;
}

    /*borde del div*/
.list-thumbs > li:last-child{}
.list-thumbs > li > a{
  display:block;
  position:relative;
  background-color: #309971;
  color: white;
  padding: 20px;
  border: 1.5px solid #2d2d2d;
  border-radius:3px
  transition:all 500ms ease-in-out;
  border-radius:4px;
}

.list-thumbs > li > a:hover{
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  text-decoration:none
}
    /*texto del nombre*/
.list-thumbs h2{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  color: #2d2d2d;
}

ul
{
  list-style-type: none;
}
.img .img-responsive{
  display:block;
  height: 120px;
  width: 180px;
  position: relative;
  border: 1.5px solid #2d2d2d;
}

/*perfilQR*/

.social-btn-holder{
  padding:10px;
  margin-top:5px;
  margin-bottom:5px;
}
.social-btn-holder .btn-social{
  font-size:12px;
  font-weight:bold;
}

.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
  opacity:1;
}

.centered-text{
   text-align: center;
}

.panel-footer{
    border: 2px solid #2D3E50;
    border-top: transparent;
}